body {
    background-color: black;
    font-family: arial;
}

video {
    text-align: center;
    width: 100%;
    
}

.wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    
}
